<div id="title-header">
    <h1>My Personal Movies</h1>
</div>
<div id="Navigation Bar">
    <form id="home-button" action="/movies" method="GET">
        <input type="submit" value="Home" />
    </form>
</div>