<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="styles.css" />
        <title>Trips</title>
    </head>
    <body>
    <div id="title-header">
        <h1>Trips</h1>
    </div>
    <div id="adding-trips">
        <form id="adding-trips-form" action="/add-trip" method="POST">
            <input type="text" name="title" placeholder="Trip Title" />
            <input type="text" name="image" placeholder="Trip Image Link" />
            <label for="departure-date">Trip Departure Date:</label>
            <input type="date" id="departure-date" name="departureDate" required pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}">
            <label for="return-date">Trip Departure Date:</label>
            <input type="date" id="return-date" name="returnDate" required pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}">
            <input type="submit" value="Submit" />
        </form>
    </div>
    <div id="trips-list">
        {{#trips}}
            <form class="trip-information" action="/delete-trip" method="POST">
                <span class="trip-titles">{{title}}</span>
                <img class="trip-images" src="{{image}}" />
                <span class="trip-dates">
                    <span class="filler"></span>
                    <span class="departing">Departing: {{departureDate}}</span>
                    <span class="returning">Returning: {{returnDate}}</span>
                    <input type="submit" value="X" />
                </span>
                <input type="hidden" name="tripName" value="{{name}}" />
            </form>
        {{/trips}}
    </div>
    </body>
</html>