<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles.css" />
        <title>Movies</title>
    </head>
    <body>
    <div id="title-header">
        <span class="filler"> </span>
        <h1>My Personal Movies</h1>
        <form id="home-button" action="/movies" method="GET">
            <input type="submit" value="Home" />
        </form>
    </div>
    <div id="movies-list">
        {{#newList}}
            <div class="movie-information">
                <form id="searching-movie-title-form" action="/movies/{{movieId}}" method="GET">
                    <input type="submit" value="Movie Details" />
                </form>
                <span class="movie-titles">{{title}}</span>
                <form id="searching-movie-genre-form" action="/movies/genre/{{genre}}" method="GET">
                    <input type="submit" value="{{genre}}" />
                </form>
                <span class="movie-description">{{description}}</span>
                <img class="movie-poster" src="{{poster}}" />
                <form action="/movies/delete-movie" method="POST">
                    <input type="submit" value="X" />
                    <input type="hidden" name="movieTitle" value="{{movieId}}" />
                </form>
            </div>
        {{/newList}}
    </div>
    </body>
</html>